@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-IRANYekan);
  min-height: 100vh;
  user-select: none;
  background-color: rgb(var(--background-app-rgb));
}
