@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-IRANYekan);
  min-height: 100vh;
  user-select: none;
  background-color: rgb(var(--background-app-rgb));
}

/* HeroSection.css */
.perspective-custom {
  perspective: 200px;
  perspective-origin: 59% 85%;
}

.slider {
  background-image: url("../../public/images/preview.png");
  background-size: 100%;
  transform: scaleX(0.85) scaleY(1) scaleZ(1) rotateX(3.5deg) rotateY(354deg)
    rotate(10deg) translateX(0) translateY(0) translateZ(0) skewX(0deg)
    skewY(0deg);
  animation: moveBackground 35s linear infinite;
  -webkit-animation: moveBackground 35s linear infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -1000px;
  }
}
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ul {
    list-style-type: disc; /* علامت‌گذاری دایره‌ای برای لیست‌های نامرتب */
    padding-right: 20px; /* فاصله داخلی برای لیست‌ها */
  }

  ol {
    list-style-type: decimal; /* شماره‌گذاری برای لیست‌های مرتب */
    padding-right: 20px; /* فاصله داخلی برای لیست‌ها */
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
  }

  blockquote {
    border-right: 3px solid #accde5;
    margin: 1.5rem 0;
    padding-right: 1rem;
  }

  hr {
    border-top: 1px solid #accde5;
    margin: 2rem 0;
  }
}

/* TABLE */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table .title-row {
  background-color: rgb(243, 244, 246);
}

table td,
table th {
  border-bottom: 1px solid rgb(229, 231, 235);
  text-align: center;
  white-space: nowrap;

}

table th {
  padding: 0.6rem 1rem;
  color: rgb(75, 85, 99);
  font-size: 0.9rem;
}
a {
  display: block;
}
table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  color: rgb(75, 85, 99);
}
